body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 20px;
  background: #25282c;
  color: #BABD42;
}
* {
  box-sizing: border-box;
}
ul {
  list-style-type: disc;
  margin: 1rem 0;
  padding: 0 1rem;
}
li {
  margin: 0 1rem 10px 0 ;
}
h1 {
  font-size: 20px;
}
h1 > a {
  text-decoration: none;
  color: black;
}
button, input, label, textarea {
  display: block;
  outline: none;
}
label {
  margin-top: 1rem;
}
.error {
  color: red;
}
input.error, textarea.error {
  border: 1px solid red;
}
.form-error {
  color: red;
  background-color: lavenderblush;
  padding: 1rem;
  display: inline-block;
}
.form-error ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}
.form-error li {
  display: list-item;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-between button {
  display: inline;
}
.admin-nav ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.admin-nav li {
  padding: 0;
  margin: 5px 0;
  list-style: none;
}
.admin-nav a,
.admin-nav button {
  text-decoration: none;
  color: #BABD42;
}
.admin-nav button {
  background: #191c20;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}
.cat-nav {
  display: flex;
}
.cat-nav button {
  margin-right: 5px;
  background: #191c20;
  color: #BABD42;
  border: none;
  padding: 1px 20px;
  cursor: pointer;
}
.rw-link {
  margin-right: 15px;
}
.booklist {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
}
.booklist li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.booklist a {
  text-decoration: none;
  color: cornflowerblue;
  text-align: center;
  display: block;
}
.booklist img {
  max-height: 180px;
  /* width: auto; */
}
.drop-pane-wrapper {
  margin-top: 0.5rem;
}
.book-form {
  margin-bottom: 20px;
  max-width: 700px;
}
.rw-segment-header {
  background: #191c20;
  color: #7d8999;
  display: flex;
  justify-content: space-between;
}
.rw-segment-main {
  background-color: #191c20;
}
.rw-input {
  margin-bottom: 10px;
  color: #7d8999;
  background: #1e2125;
  border: none;
}
.rw-label {
  color: #BABD42;
}
.rw-button-group {
  justify-content: flex-start;
  margin: 0;
}
.rw-button {
  background: #BABD42;
  color: #000;
}
.rw-button-shade {
  color: #7d8999;
  background: #2d3239;
}
.drop-pane-wrapper .fsp-drop-pane__container {
  border-color: #535c68;
  background: #2d3239;
}